@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: 'manrope';
    src: url('Manrope/static/Manrope-Regular.ttf');
}

html{
    scroll-behavior: smooth
}

.myfont{
    font-family: manrope;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust values for desired shadow effect */
}